---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "The Tech Stuff";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={`${pageTitle} |||`}>
  <p>Show more</p>
  <br />

  {
    allPosts.map((post) => (
      <BlogPost
        title={post.frontmatter.title}
        author={post.frontmatter.author}
        url={post.url}
        date={post.frontmatter.pubDate}
        description={post.frontmatter.description}
      />
    ))
  }
</BaseLayout>
