---
const { title, url, date, author, description } = Astro.props;
---

<style>
  .post-title-container {
    display: flex;
  }

  .list-disc {
    list-style-type: none;

    flex-direction: row;
    align-items: flex-start;
  }
  a {
    font-size: 2rem;
    color: #d08770;
    font-weight: bold;
  }

  .description {
    color: #b48ead;
  }

  .post-title-container li a {
  }
</style>
<ul class="post-title-container">
  <li class="list-disc">
    <a href={url}>{title}</a>
    <hr class="solid" />
    <!-- <hr class="dashed" /> -->

    <p class="date-author">{date} {author}</p>
    <p class="description">{description}</p>
  </li>
</ul>
<br />
