---
const { title, url, date, author, description } = Astro.props;
import "../styles/global.css";
---

<!---Blog list page----->
<ul class="post-title-container">
  <li class="list-disc">
    <a href={url}>{title}</a>
    <hr class="solid" />
    <!-- <hr class="dashed" /> -->

    <p class="date-author">{date} {author}</p>
    <p class="description">{description}</p>
  </li>
</ul>
<br />
