---
import BaseLayout from "./BaseLayout.astro";
import { getReadingTime } from "../lib/readingtime.js";
const { frontmatter } = Astro.props;
---

<!--Inside a post-->
<BaseLayout pageTitle={frontmatter.title}>
  <!-- <p class="post-subtitle"><em>{frontmatter.description}</em></p> -->
  <div class="post-description-container">
    <p class="post-description">{frontmatter.pubDate.slice(0, 10)}</p>
    <p class="post-description">Written by: {frontmatter.author}</p>
    <p class="post-description">
      Reading time {getReadingTime(Astro.props.compiledContent())} minutes
    </p>
  </div>
  <img
    class="post-image"
    src={frontmatter.image}
    width="100%"
    alt={frontmatter.image.alt}
  />
  <slot />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          #<a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
